*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gap-small: 0.4rem;
    --gap-medium: 1.2rem;
    --gap-large: 2rem;
}

/*  |~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~|
    |              |
/~~\|          /~~\|
\__/  GENERAL  \__/ */

.hidden {display: none;}

/*  |~~~~~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~~~~~|
    |                     |
/~~\|                 /~~\|
\__/  MAIN STRUCTURE  \__/ */

body {
    width: 100vw;
    height: 100svh;
    
    display: grid;
    grid-template-rows:  1fr auto 1fr;


    background-color: turquoise;
}

body>header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>header>img {
    width: 80%;
    max-width: 420px;
}

body>div {
    width: 100%;
    background-color: yellow;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#top-wrapper {
    padding-top: var(--gap-large);
}

div#bottom-wrapper {
    position: relative;
    justify-content: center;
}

div#bottom-wrapper>button#enter {
    position: absolute;
    top: var(--gap-medium);
}

/*  |~~~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~~~|
    |                   |
/~~\|               /~~\|
\__/  EVENT WINDOW  \__/ */

article>section {
    max-height: calc(100% - 2 * var(--gap-large));
    width: calc(100% - 2 * var(--gap-large));
    max-width: 690px;

    /* deze dingen dienen voor het venster vast te centreren */
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* ESTHEATICS */
    background-color: cornsilk;
    padding: var(--gap-small);
}

article>section>header {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-small);
}
article>section>header>button.close {height: 1.2rem; width: 1.2rem;}