@font-face {
    font-family: "MADE TOMMY";
    src: local("MADE TOMMY"), url('MADE_TOMMY.otf') format("opentype");
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gap-mini: 0.2rem;
    --gap-small: 0.6rem;
    --gap-medium: 1.2rem;
    --gap-large: 2rem;
    --free-zone: 0rem; /* ruimte die moet vrijgehouden worden minstens boven een evenementen-kader */
    --color-white: white;
    --color-white-transparant: rgba(255, 255, 255, 0.8);
    /* --color-black: rgb(30, 30, 30);
    --color-black-transparant: rgba(30, 30, 30, 0.8); */
    --color-black: rgb(0, 0, 0);
    --color-black-transparant: rgba(0, 0, 0, 0.8);
}


/*  |~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~|
    |              |
/~~\|          /~~\|
\__/  GENERAL  \__/ */

.hidden {display: none;}
html, * {color: var(--color-white); font-family: "MADE TOMMY"; font-weight: 600;}
button {
    background-color: var(--color-black);
    padding: var(--gap-mini) var(--gap-small);
    border: none;
    border-radius: 0;
    letter-spacing: 0.25rem;
    border: 2px solid var(--color-black);
}
button:hover {
    border: 2px solid var(--color-black);
    background-color: var(--color-white-transparant);
    color: var(--color-black);
}


/*  |~~~~~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~~~~~|
    |                     |
/~~\|                 /~~\|
\__/  MAIN STRUCTURE  \__/ */

body {
    width: 100vw;
    height: 100svh; 
    display: grid;
    grid-template-rows:  1fr auto 1fr;
    overflow: hidden;
    padding: var(--gap-small);
    background-color: black;
}

div.background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100svh; 

    z-index: -2000;
}

div.background>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body>header {
    display: flex;
    justify-content: center;
    align-items: center;
}
body>header>img {width: 80%; max-width: 420px;}

body>div {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
div#top-wrapper {padding-top: var(--gap-large);}
div#bottom-wrapper {position: relative; justify-content: center;}
div#bottom-wrapper>button#enter { position: absolute; top: var(--gap-large);}


/*  |~~~~~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~~~~~|
    |                     |
/~~\|                 /~~\|
\__/  MAIN STRUCTURE  \__/ */

div#top-wrapper>nav * {
    letter-spacing: 0.25rem;
}


/*  |~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~|
    |                 |
/~~\|             /~~\|
\__/  EVENT LIST  \__/ */

div#bottom-wrapper>div#events:not(.hidden) {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
div#bottom-wrapper>div#events>article {
    display: flex;
    justify-content: center;

}


/*  |~~~~~~~~~~~~~~~~~~~|
    |~~~~~~~~~~~~~~~~~~~|
    |                   |
/~~\|               /~~\|
\__/  EVENT WINDOW  \__/ */

article>section { background-color: var(--color-white-transparant); }
article>section * {color: var(--color-black);}

article>section {
    max-height: calc(100% - var(--free-zone) - 2 * var(--gap-small));
    width: calc(100% - 2 * var(--gap-small));
    max-width: 690px;

    display: flex;
    flex-direction: column;

    /* deze dingen dienen voor het venster vast te centreren */
    position:fixed;
    top: calc((var(--free-zone) + 100%) / 2);
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid var(--color-black);
}

article>section>header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    padding: var(--gap-small);

    border-bottom: 1px solid var(--color-black);
}
article>section>button.close {
    position: absolute;
    right: var(--gap-small);
    top: var(--gap-small);

    height: 1.8rem; 
    width: 1.8rem; 
    aspect-ratio: 1/1;
    padding: 0;
    letter-spacing: 0;
    font-size: 1.8rem;
    text-box: trim-both cap alphabetic;
    line-height: 0.6rem;
    font-weight: 300;


    display: flex;
    justify-content: center;
    align-items: center;


    color: var(--color-black);
    background-color: transparent;
    border: 2px solid var(--color-black);
}

article>section>button.close:hover {
    color: var(--color-white);
    background-color: var(--color-black-transparant);
}

article>section>div {
    flex-grow: 1;
    overflow-y: auto; /* dit maakt het mogelijk om verticaal te scrollen indien text langer dan de window */

    padding: var(--gap-small);
}

article>section>nav{
    padding: var(--gap-small);
    border-top: 1px solid var(--color-black);
}

p:not(:first-of-type) {
    padding-top: var(--gap-medium);
}